body {
    background-color: #6441a5;
    color: #f1f1f1;
    font-size: 18px;
    background-size: 1280px 720px;
    margin: auto;
    max-width: 1280px;
}

#githubSocials {
    padding-top: 10px;
    text-align: right;
    padding-bottom: 30px;
}

#interface {
    text-align: center;
    width: 1280px;
    height: 15px;
    padding-top: 39px;
}

input[type="file"] {
    font-size: 25px;
}


/* #twitch-embed {
    border-radius: 4.7px;
    border-color: #262626;
    border-width: 8px;
    border-style: solid; 
} */

#container {
    width: 1280px;
    height: 720px;
}

#coOrds {
    z-index: 100;
    color: blue;
    font-size: 100px;
}

#container {
    position: relative;
}

#container canvas,
#twitch-embed,
#ImgSelector,
#interface,
#commands {
    position: absolute;
}

#imgurLink {
    display: none;
}

#imgCommand,
#moveCommand,
#scaleCommand,
#rotateCommand,
#pipedCommands,
#pipeFind,
#pipeMove,
#pipeScale,
#pipeRotate {
    display: inline-block;
}

#twitch-chat-holder {
    padding-top: 200px;
    padding-bottom: 25px;
}

#twitch-chat {
    border-radius: 6.4px;
    border-color: #262626;
    border-width: 8px;
    border-style: solid;
    width: 1280px;
}

#commands {
    background-color: #b9a3e3;
    width: 1280px;
    height: 180px;
    border-radius: 8.2px;
    border-color: #737373;
    border-width: 8px;
    border-style: solid;
}

#commands h1 {
    color: #f1f1f1;
    text-align: center;
    font-size: 20px;
}

#commandsHolder {
    padding-top: 10px;
    padding-bottom: 10px;
}

#commandText {
    text-align: center;
    padding-bottom: 4px;
}


/* canvas {
    top: 8px !important;
    left: 8px !important;
} */

#imgSelector {
    background-color: #737373;
    width: 300px;
    height: 720px;
    left: 7px;
    overflow-y: scroll;
    text-align: center;
}

#imgSelector button {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* width */

#imgSelector::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#imgSelector::-webkit-scrollbar-track {
    box-shadow: 0 0 1px 1px hsla(0, 0%, 100%, .25);
    border-radius: 10px;
}


/* Handle */

#imgSelector::-webkit-scrollbar-thumb {
    background: #1f1f23;
    border-radius: 10px;
    border: 1px grey solid;
}


/* Handle on hover */

#imgSelector::-webkit-scrollbar-thumb:hover {
    background: transparent;
}